<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Street Foody</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Satisfy&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/layout.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (ViewBag.IsHome!=null) {
        <partial name="~/Views/Shared/_NavBarPartial.cshtml" />
    } else {
        <partial name="~/Views/Shared/_SearchNavBarPartial.cshtml" />
    }

    <main role="main">
        @RenderBody()
    </main>
    <div class="overlay"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" crossorigin="anonymous"></script>    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/anim.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
