<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - street_foody</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Satisfy&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/layout.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <div class="wrapper">
            <div id="brand" >
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Street Foody</a>
            </div>
            <ul id="nav-links">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">Handbook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Vendor">Vendor</a>
                </li>
                <li class="nav-item">
                    <a id="profile" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Profile">
                        <img src="~/user.png" alt="" id="user-icon">
                        <img src="~/caret-down.png" alt="" id="caret-down-icon">
                    </a>
                    @* <a id="profile-text" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Profile">
                        My profile
                    </a> *@
                </li>
            </ul>
            <div class="burger-container">
                <div id="burger">
                    <div id="line1"></div>
                    <div id="line3"></div>
                </div>
            </div>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>
    <div class="overlay"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
