<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - street_foody</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header id="nav-header">
        <h1>
            <a id="brand" asp-area="" asp-controller="Home" asp-action="Index">Street Foody</a>
        </h1>
        <a id="brand" asp-area="" asp-controller="Home" asp-action="Vendor">Vendor</a>
        <a id="brand" asp-area="" asp-controller="Home" asp-action="About">About</a>
        <div id="burger">
            <div id="line1"></div>
            <div id="line3"></div>
        </div>
    </header>
    <div>

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
