<nav style="background: none;">
    <div class="wrapper">
        <div id="brand" >
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Street Foody</a>
        </div>
        <ul id="nav-links" style="width: 20%">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="VendorProfile">Sign in</a>
            </li>
            <li class="nav-item">
                <a id="sign-up" asp-area="" asp-controller="Home" asp-action="UserProfile">Sign up</a>
            </li>
        </ul>
        <div class="burger-container">
            <div id="burger">
                <div id="line1"></div>
                <div id="line3"></div>
            </div>
        </div>
    </div>
</nav>