@model IEnumerable<StreetVendor>;
@using System.Text;
@{
    ViewData["Title"] = "Search";
}

<div class="page">
    <div id="alert">
        <span id="close-btn" onclick="this.parentElement.style.display='none'"> &times; </span>
        &#8594; Precaution: Most street vendors take cash only. Please be prepared to bring cash! &#8592;
    </div>
    <div id="filter-sort">
        <button id="filter" class="small-btn" style="margin-right: 10px"><img src="~/images/filter.png" alt="" class="btn-secondary-icon">&nbsp;Filter</button>
        <div class="select">
            <form id="sort-form" asp-controller="Search" asp-action="Sort" method="POST">
                <select form="sort-form" name="sort" onchange="this.form.submit()">
                    <option value="none">Sort by</option>
                    <option value="nearest">Nearest</option>
                    <option value="highestRated">Highest Rated</option>
                    <option value="lowestPrice">Lowest Price</option>
                </select>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <div id="filter-col">
            <h2 class="filter-title">Opening hours</h2>
            <form action="" class="filter-list">
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="open-now"
                    name="openNow"
                    value = "open-now"
                    />
                    <label for="open-now"> Open now </label>
                </div>
                @* <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="opening-soon"
                    name="openingSoon"
                    />
                    <label for="opening-soon"> Opening soon </label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" id="closed" name="closed" />
                    <label for="closed"> Closed </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="closing-soon"
                    name="closingSoon"
                    /> *@
                    @* <label for="closing-soon"> Closing soon </label> *@
                @* </div> *@
            </form>
            <h2 class="filter-title">Ratings</h2>
            <form action="" class="filter-list">
                <div>
                    <input type="checkbox" class="checkbox" id="4.5p" name="4.5p" />
                    <label for="4.5p"> 4.5+ </label>
                </div>
                 <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="4.0-4.5"
                    name="4.0-4.5"
                    />
                    <label for="4.0-4.5"> 4.0+ </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="4.0-4.5"
                    name="4.0-4.5"
                    />
                    <label for="4.0-4.5"> 4.0+ </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="3.5-4.0"
                    name="3.5-4.0"
                    />
                    <label for="3.5-4.0"> 3.5+ </label>
                </div>
                
            </form>
         </div>
        <div id="result-col">
            @{
            if (Model!=null) {
            foreach (var vendor in Model) { 
                string priceDisp;
                if (vendor.PriceRange.Length == 0) {
                    priceDisp = "N/A - N/A";
                } else {
                    priceDisp = vendor.PriceRange[0].ToString("#,###") + "đ - " + vendor.PriceRange[1].ToString("#,###") + "đ";
                }
                string photoURL;
                if (vendor.PhotoUrl != null) {
                    photoURL = vendor.PhotoUrl;
                } else {
                    photoURL = "~/images/street-vendor.png";
                }
                <div class="vndr-card">
                    <div class="vndr-image"><img src=@photoURL alt="" /></div>
                    <h3 id="stand-name">
                        @Html.DisplayFor(modelItem => vendor.StandVietnameseName)
                        @* <sup class="large">Open Now!</sup> *@
                    </h3>
                    <div class="vndr-distance"> 0.5 miles away &nbsp &nbsp &nbsp
                        <img src="/walk.png" class="inline-icon" alt=""/> 8 mins
                    </div>
                    <div class="vndr-categories">
                        <img src="~/images/menu.png" alt="" class="inline-icon" />  
                        @* @foreach (var category in vendor.FoodCategories) {
                            <div class=“food-category”>@Html.Display(category.CategoryEnglishName)</div>
                        }
                        CSS:

                        .food-category {
                            display: inline-block;
                        }
                        .food-cateogry:after {
                            content: ",";
                        }
                        .food-category:after:last-child {
                            content: none;
                        } *@
                        Vietnamese sandwich, Boba tea, Dessert, Sweet cakes
                    </div>
                    <div class="vndr-rating-price">
                        <img src="~/images/star.png" alt="" class="inline-icon" /> 
                        @Html.DisplayFor(modelItem => vendor.AverageRating) &nbsp &nbsp &nbsp &nbsp &nbsp
                        <img src="~/images/price-tag.png" alt="" class="inline-icon" /> @priceDisp
                    </div>
                    <div class="vndr-rating-list">
                        <div>
                        <img src="~/images/favorite.png" alt="" class="inline-icon" /> 1.2k
                        </div>
                        <div><img src="~/images/review.png" alt="" class="inline-icon" /> 634</div>
                        <div><img src="~/images/camera.png" alt="" class="inline-icon" /> 23</div>
                    </div>
                    <div class="right-caret"><img src="~/images/right-caret.png" alt="" /></div>
                </div>
            }
            } else {
                <div>Sorry, we couldn't find any street vendors that match your search :(.</div>
            }}
        </div>
    </div>
</div>



@* $(function(){
       $(".filter").click(function() {
           alert("Hello");  
       }) 


 $.each(data, function (item) {  
        var $standVietnameseName = item.standVietnameseName;
        
        var $newdiv1 = $( "<div>  </div>" );
        $newdiv1.html($standVietnameseName);
        $("body").append($newdiv1);

    }); $.ajax{
    type : 'GET',
    url : '/api/search/getAll',
    dataType : 'json',
    data :  {id = ''},
    success: function (data) {  
            alert("Hello");  
    
    },  
}  *@