@model IEnumerable<Vendor>

@{
    ViewData["Title"] = "Search";
}

<style>
    #filter-sort {
        display: flex;
        align-items: center;
        margin: 1rem 0rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
    }

    #filter:hover {
        border-color: #ffdf37;
    }

    #filter-col {
        float: left;
        flex: 0 0 25%;
        padding-right: 2rem;
        box-shadow: 3px 0 3px -3px #ddd;
        display: flex;
        flex-direction: column;
    }

    #result-col {
        flex: 1 0 75%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
    }

    .page {
        z-index: 1;
    }

    .vndr-card {
        width: 100%;
        height: 6.5rem;
        margin: 20px;
        display: grid;
        grid-template-areas:
            "img name name name"
            "img dist list next"
            "img categ list next"
            "img rating list next";
        grid-template-rows: 3rem 1.5rem 3.2rem 1.5rem;
        grid-template-columns: 250px 1fr 150px 150px;
        column-gap: 20px;
    }

    .vndr-image {
        grid-area: img;
    }

    .stand-name {
        grid-area: name;
    }

    .vndr-distance {
        grid-area: dist;
    }

    .vndr-rating-list {
        grid-area: list;
    }

    .vndr-categories {
        grid-area: categ;
    }

    .vndr-rating-price {
        grid-area: rating;
    }

    #right-caret {
        grid-area: next;
    }

    #right-caret > img {
        height: 6rem;
        object-fit: contain;
    }

    .vndr-card > * {
        display: flex;
        font-size: 1rem;
    }

    .vndr-image > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h3#stand-name {
        font-family: "Quicksand", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
    }

    h3#stand-name > sup {
        font-family: "Satisfy", cursive;
        color: #ff2700;
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    img.inline-icon {
        height: 1.2rem;
        object-fit: contain;
        margin: 0 0.3rem 0 0rem;
    }

    .vndr-rating-list {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
</style>

<div class="page">
    <partial name="~/Views/Partial/_AlertMessage.cshtml"/>
    <div id="filter-sort">
        <button id="filter" class="small-btn" style="margin-right: 10px"><img src="~/images/filter.png" alt="" class="btn-secondary-icon">&nbsp;Filter</button>
        <div class="select">
            <select name="sort">
                <option selected value="none">Sort by</option>
                <option value="nearest">Nearest</option>
                <option value="highestRated">Highest Rated</option>
                <option value="lowestPrice">Lowest Price</option>
            </select>
        </div>
    </div>
    <div class="wrapper">
        <div id="filter-col">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div id="result-col">
        <div class="vndr-card">
          <div class="vndr-image"><img src="~/images/banh-mi.png" alt="" /></div>
          <h3 id="stand-name">
            Uncle Tu's Banh Mi <sup class="large">Open Now!</sup>
          </h3>
          <div class="vndr-distance"> 0.5 miles away &nbsp &nbsp &nbsp
            <img src="/walk.png" class="inline-icon" alt=""/> 8 mins
          </div>
          <div class="vndr-categories">
            <img src="~/images/menu.png" alt="" class="inline-icon" />  Banh mi,
            banh bao, nuoc mia, hu tiu, tra da, haha, bla bla bla
          </div>
          <div class="vndr-rating-price">
            <img src="~/images/star.png" alt="" class="inline-icon" /> 4.6/5 &nbsp &nbsp
            &nbsp &nbsp &nbsp
            <img src="~/images/price-tag.png" alt="" class="inline-icon" /> 12,000 -
            15,000 VND
          </div>
          <div class="vndr-rating-list">
            <div>
              <img src="~/images/favorite.png" alt="" class="inline-icon" /> 1.2k
            </div>
            <div><img src="~/images/review.png" alt="" class="inline-icon" /> 634</div>
            <div><img src="~/images/camera.png" alt="" class="inline-icon" /> 23</div>
          </div>
          <div id="right-caret"><img src="~/images/right-caret.png" alt="" /></div>
        </div>
        </div>
    </div>
</div>





