@model IEnumerable<StreetVendor>

@{
    ViewData["Title"] = "Search";
}

<div class="page">
    <div id="alert">
        <span id="close-btn" onclick="this.parentElement.style.display='none'"> &times; </span>
        &#8594; Precaution: Most street vendors take cash only. Please be prepared to bring cash! &#8592;
    </div>
    <div id="filter-sort">
        <button id="filter" class="small-btn" style="margin-right: 10px"><img src="~/images/filter.png" alt="" class="btn-secondary-icon">&nbsp;Filter</button>
        <div class="select">
            <select name="sort">
                <option selected value="none">Sort by</option>
                <option value="nearest">Nearest</option>
                <option value="highestRated">Highest Rated</option>
                <option value="lowestPrice">Lowest Price</option>
            </select>
        </div>
    </div>
    <div class="wrapper">
        <div id="filter-col">
            <h2 class="filter-title">Opening hours</h2>
            <form action="" class="filter-list">
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="open-now"
                    name="openNow"
                    />
                    <label for="open-now"> Open now </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="opening-soon"
                    name="openingSoon"
                    />
                    <label for="opening-soon"> Opening soon </label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" id="closed" name="closed" />
                    <label for="closed"> Closed </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="closing-soon"
                    name="closingSoon"
                    />
                    <label for="closing-soon"> Closing soon </label>
                </div>
            </form>
            <h2 class="filter-title">Ratings</h2>
            <form action="" class="filter-list">
                <div>
                    <input type="checkbox" class="checkbox" id="4.5p" name="4.5p" />
                    <label for="4.5p"> 4.5+ </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="4.0-4.5"
                    name="4.0-4.5"
                    />
                    <label for="4.0-4.5"> 4.0 - 4.5 </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="3.5-4.0"
                    name="3.5-4.0"
                    />
                    <label for="3.5-4.0"> 3.5 - 4.0 </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="3.0-3.5"
                    name="3.0-3.5"
                    />
                    <label for="3.0-3.5"> 3.0 - 3.5 </label>
                </div>
            </form>
         </div>
        <div id="result-col">
            Sorry, we couldn't find any street vendors that match your search :(.
        </div>
    </div>
</div>





