@{
    ViewData["Title"] = "Vendor";
}
<head>
    <meta content="width=device-width, initial-scale=1.0">
<style>
    /* * {
        margin-top: 50px;
    } */
    
    #Vendor{
        float: right;
        display:flex;
        align-items: center;
        background-color: white;
        margin-top: 200px;
    }

    #Image1{
        color: black;
        background-color: white;
        margin: 150px 10px 10px 50px;
        float: left;
    }

    h1{
        font-family: "Satisfy", cursive;
        background-color: white;
    }

    .vendor-about{
        padding: 10px;
        background-color: white;
    } 

    a:hover {
        color: black;
    }   

    a:link{
        color: black;
    }

    a:visited{
        color: black;
    }

    #info_ul{
        list-style: none;
        -webkit-padding-start: 0px;
    }
 
    #li_directions ion-icon{
        font-size: 1.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 9px;
    }
    #li_phone ion-icon{
        font-size: 1.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 1px;
    }   

    ion-icon {
        color: black;
    }
    

</style>
</head>
<body>
    <div id = "Image1">
            <img src="~/images/Great-Aunty-Three.png" alt = "Image1" style="width:30%;height:30%;border:0;border-radius:50px;">
    </div>
    <div id="Vendor" class="vendor-text">
        <div class="vendor-about">
            <h1>Vendor Name</h1>
            <ul id="info_ul">
            <li id="li_directions"><ion-icon name="pin"></ion-icon> <a href="https://goo.gl/maps/4ezoPy1ms45HNrWL6">1234 Main st, HCMC</a></li>
            <li id="li_phone"><ion-icon name="call"></ion-icon> <a href="tel:+84 000-000-0000">+84 000-000-0000</a></li>
            </ul>
        </div>
    </div>


    <!------------------ Ion Icon Script ------------------>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>