@{
    ViewData["Title"] = "Vendor";
}
<head>
    <meta content="width=device-width, initial-scale=1.0">
    <style>
    /* * {
        margin-top: 50px;
    } */

    #Vendor {
        display: flex;
        align-items: center;
        background-color: white;
        margin: 50px;
    }

    .vendor-header img{
        object-fit:cover;
        margin:1.5vw;
        float:left;
        max-width: 250px;
        min-width: 175px;
    }

    .vendor-header{
        display:flex;
        flex-flow: row wrap;
        align-content:center;
        justify-content:center;
        margin-top:8vh;
    }

    .vendor-container{
        display:flex;
        flex-flow: row wrap;
        align-content:center;
        justify-content:center;
    }
    .menu-card {
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 15px;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        border-color:gray ;
    }

    h1, h2, h3, h4 {
        font-family: "Quicksand", sans-serif;
    }


    .vendor-about{
        padding: 10px;
        /*background-color: white;
        flex-grow: 3;*/
    }

    .body-text {
        font-family: "Quicksand", sans-serif;
        color: black;
        font-size: large;
        margin: 10px;
        text-align: left;
        @*margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;*@
    }

    #map {
        height: 300px;
        /* The height is 300 pixels */
        width: 45%;
        /* The width is the width of the web page */
        padding:1vw;

    }
    a:hover {
        color: black;
    }

    a:visited{
        color: black;
    }

    #info_ul{
        list-style: none;
        -webkit-padding-start: 0px;
    }

    #li_directions ion-icon{
        font-size: 1.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 9px;
    }
    #li_phone ion-icon{
        font-size: 1.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 1px;
    }

    ion-icon {
        color: black;
    }

    div.section{
        margin:20px;
    }

    hr{
        height: 2px;
        background-color: tomato;
    }


    </style>

    <!--Initialize and add the map-->
    <script>function initMap() {
    const location = { lat: 10.8231, lng: 106.6297 };
            // The map, centered at HCMC

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: location,
            });
            // The marker, positioned at HCMC

            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }</script>

</head>
<body>
    <div class="vendor-header">
        <div class="section" id="Vendor">
            <!--Profile image and basic info-->
            <img src="~/images/Great-Aunty-Three.png" alt="Profile image">
            <div class="vendor-about">
                <h1>Uncle Tu's Banh Mi</h1>
                <h4 style="color:dimgray">Vendor Name (English)</h4>
                <ul id="info_ul">
                    <li id="li_directions"><ion-icon name="pin"></ion-icon> <a href="https://goo.gl/maps/4ezoPy1ms45HNrWL6">1234 Main st, HCMC</a></li>
                    <li id="li_phone"><ion-icon name="call"></ion-icon> <a href="tel:+84 000-000-0000">+84 000-000-0000</a></li>
                </ul>
            </div>
            <!--Open/Closed and Distance-->
            <div style="margin-left: 2vw; margin-top: 2vw;">
                <h4 style="color:tomato">Open Now</h4>
                <h5>.5 miles away</h5>
                <h5>150 upvotes/4 stars</h5>

            </div>
        </div>
    </div>
    <hr style="margin-left: 4vw; margin-right: 4vw" />
    <div class="vendor-container">
        <div class="section">
            <!--Location and Hours-->
            <h2 style="text-align:center">Location and Hours</h2>
            <hr/>
            <a href="https://goo.gl/maps/4ezoPy1ms45HNrWL6">1234 Main st, HCMC</a>
            <p class="body-text"></p>
            <ul class="body-text">
                <li>M: Closed</li>
                <li>T: 8:00 am- 3:00 pm</li>
                <li>W: 8:00 am- 3:00 pm</li>
                <li>T: Closed</li>
                <li>F: 8:00 am- 3:00 pm</li>
                <li>S: 8:00 am- 3:00 pm</li>
                <li>S: 12:00 pm- 3:00 pm</li>
            </ul>
        </div>
         <!--Google Map-->
        <div id="map"></div>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBsXAG8PrqllPSGjeejnAy-TLXR2tPFGw&callback=initMap&libraries=&v=weekly">
        </script>
        <div class="section">
            <!--Description-->
            <h2 style="text-align:center">Description</h2>
            <hr style="background-color:tomato" />
            <p class="body-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Sit amet nisl purus in mollis nunc
                sed id semper. Mauris cursus mattis molestie a iaculis at erat. Fermentum leo
                vel orci porta non pulvinar neque laoreet. Vulputate enim nulla aliquet porttitor.
                Augue neque gravida in fermentum et sollicitudin. In hendrerit gravida rutrum
                quisque non tellus. Dolor sit amet consectetur adipiscing elit pellentesque
                habitant. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi
                tincidunt. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Tempor
                commodo ullamcorper a lacus vestibulum sed arcu.
            </p>
        </div>
        <div class="section">
            <!--Menu Grid-->
            <h2 style="text-align:center">Menu</h2>
            <hr/>
            <h3 style="text-align:center">Banh Mi</h3>
            <div class="text-center" style="display: flex; flex-wrap: wrap; justify-content:center;">
                <div class="menu-card" style="width:325px">
                    <p class="body-text" style="font-weight: bold">Cold cut sandwich</p>
                    <p class="body-text">
                        Comes on a fresh baguette with traditional toppings: green onions, pickled carrot and daikon mix, . . .
                    </p>
                </div>

                <div class="menu-card" style="width:325px">
                    <p class="body-text" style="font-weight: bold">Vietnamese Meatball Sandwich</p>
                    <p class="body-text">
                        Comes on a fresh baguette with traditional toppings: green onions, pickled carrot and daikon mix, . . .
                    </p>
                </div>
                <div class="menu-card" style="width:325px">
                    <p class="body-text" style="font-weight:bold">Mock Duck Sandwich</p>
                    <p class="body-text">
                        Comes on a fresh baguette with traditional toppings: green onions, pickled carrot and daikon mix, . . .
                    </p>
                </div>
            </div>
            <h3 style="text-align:center">Banh Mi</h3>
            <div class="text-center" style="display: flex; flex-wrap: wrap; justify-content:center;">
                <div class="menu-card" style="width:325px">
                    <p class="body-text" style="font-weight: bold">Cold cut sandwich</p>
                    <p class="body-text">
                        Comes on a fresh baguette with traditional toppings: green onions, pickled carrot and daikon mix, . . .
                    </p>
                </div>

                <div class="menu-card" style="width:325px">
                    <p class="body-text" style="font-weight: bold">Vietnamese Meatball Sandwich</p>
                    <p class="body-text">
                        Comes on a fresh baguette with traditional toppings: green onions, pickled carrot and daikon mix, . . .
                    </p>
                </div>
                <div class="menu-card" style="width:325px">
                    <p class="body-text" style="font-weight:bold">Mock Duck Sandwich</p>
                    <p class="body-text">
                        Comes on a fresh baguette with traditional toppings: green onions, pickled carrot and daikon mix, . . .
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!------------------ Ion Icon Script ------------------>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>