@{
    ViewData["Title"] = "Handbook";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1.emphasis {
        position: absolute;
        font-family: "Satisfy", cursive;
        text-align: center;
        color: white;
        padding: 20px;
        bottom: 0px;
    }

    .body-text {
        font-family: "Quicksand", sans-serif;
        color: dimgray;
        font-size:large;
        margin-top: 20px;
        margin-bottom:20px;
        margin-left: 20px;
        margin-right: 20px;
  
    }

    #handbook {
        font-size: 2rem;
        font-family: "Quicksand", sans-serif;
    }

    .colorbox {
        background-color: tomato;
        padding: 50px;
        width: 100%;
        text-align: center;
        color: white;
    }

    .card{
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 15px;
        border-style:hidden;
        border-radius: 5px;
    }

    .card:hover {
        cursor:pointer;
    }

    

    .card img {
        width: 100%;
        object-fit: cover;
        top: 0;
    }
    .card .front{
        /*z-index:9;*/
        background-color: tomato;
        width:inherit;
    }

    .card h1{
        color:white;
        text-align: center;
        padding: 10px;
    }

    .card h2 {
        font-family: "Quicksand", sans-serif;
        color: tomato;
        font-weight:bold;
        font-size: x-large;
    }

    .card .back {
        position: absolute;
        height: 100%;
        width: inherit;
        background-color: tomato;
    }

</style>

<div class="handbook">
    <div class="hero-section">
        <img src="~/images/Great-Aunty-Three.png" alt="">
        <div class="text">
            <h1>Welcome to Saigon Street Food 101 !</h1>
            <div id="handbook">A quick start guide for newbies to our world.</div>
        </div>
    </div>

    <div>
        <h1 class="text-center" style="color:tomato; padding-top: 50px; padding-bottom: 30px;">Get to know street food!</h1>
    </div>

    @*Essential street food information*@

    <container style=" display: flex; flex-wrap: wrap; justify-content:center;">
        <div class="card" style="width:325px">
            <h2>Why street food?</h2>
            <p class="body-text">
                Street food is a great way to experience Vietnamese culture and cuisine!
                It is often safer and cheaper than eating at a restaurant.
            </p>
        </div>

        <div class="card" style="width:325px">
            <h2>Menus</h2>
            <p class="body-text">
                Most stands have one or two specialties and offer a few variations
                of those dishes rather than offering an extensive menu. Scroll down to
                see information about Vietnamese dishes!
            </p>
        </div>
        <div class="card" style="width:325px">
            <h2>Pricing</h2>
            <ul class="body-text">
                <li> Street vendors usually only take cash.</li>
                <li>1 US dollar = ~23,000 Vietnamese dong (VND)</li>
                <li>Street food meals are usually less than $5 and can be less than $1.</li>
            </ul>
        </div>
    </container>


    <div>
        <h1 class="text-center" style="color:tomato; padding-top: 50px; padding-bottom: 30px;">Street Food Dishes</h1>
    </div>

    @*Grid of food photos and information*@
    <div class="container" style=" display: flex; flex-wrap: wrap; justify-content:center; align-content:center;">
        <div class="col-auto">
            <div class="card">
                <div class="front">
                    <img src="~/images/bo-bia.png" alt="Bo bia" />
                    <h1>Bo bia</h1>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card">
                <div class="front">
                    <img src="~/images/hu-tiu-go.png" alt="Hu tieu go" />
                    <h1>Hu tieu go</h1>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card">
                <div class="front">
                    <img src="~/images/banh-mi.png" alt="Banh mi" />
                    <h1>Banh Mi</h1>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card">
                <div class="front">
                    <img src="~/images/goi-cuon.png" alt="Goi cuon" />
                    <h1>Goi cuon</h1>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card">
                <div class="front">
                    <img src="~/images/bo-bia.png" alt="Bo bia" />
                    <h1>Bo bia</h1>
                </div>
            </div>
        </div>
        @** Example of food info displayed on click **@
        <div class="card">
            <div class="front">
                <h1>Goi cuon</h1>
                <p class="body-text" style="color:white">
                    Fresh Vietnamese spring rolls which traditionally consist of
                    rice noodles, herbs, vegetables, shrimp and other
                    ingredients wrapped in rice paper.
                </p>
                <p class="body-text text-center" style="color:white">
                    Find goi cuon
                </p>
            </div>
        </div>
    </div>

    @* How to Use the App *@
    <div class="text-center colorbox emphasis">
        <h1>How To Use the App</h1>
    </div>

    <container style=" display: flex; flex-wrap: wrap; justify-content:center;">
        <div class="card" style="width:325px">
            <h1 style="color: tomato">1.</h1>
            <h2>Search</h2>
            <p class="body-text">
                Use the search page to look for street vendors based on location, food type, or hours.
            </p>
        </div>

        <div class="card" style="width:325px">
            <h1 style="color: tomato">2.</h1>
            <h2>Browse</h2>
            <p class="body-text">
                Look through the list of results to find a place that looks good.
            </p>
        </div>
        <div class="card" style="width:325px">
            <h1 style="color: tomato">3.</h1>
            <h2>Choose</h2>
            <p class="body-text">
                Click on a vendor you're interested in to get directions and more information.
            </p>
        </div>
        <div class="card" style="width:325px">
            <h1 style="color: tomato">4.</h1>
            <h2>Enjoy!</h2>
            <p class="body-text">
                Head to the streets to try some delicious food!
            </p>
        </div>
    </container>
</div>
