@*
    Data in this page are intentionally all static, meaning the food categories are intended to
    not be retrieved from the database. Although there are workarounds, this approach makes
    it easier to achieve better SEO.
*@

@{
    ViewData["Title"] = "Handbook";
}

<div class="homepage-layout">
    <div class="hero-section">
        <img src="~/images/Great-Aunty-Three.png" alt="">
        <div class="text">
            <h1>Welcome to <br> Saigon Street Food 101!</h1>
            <p id="subtitle">A quick start guide for newbies to our world.</p>
        </div>
    </div>

    <h1 class="section-title">Get to know street food!</h1>

    <!--Essential street food information-->
    <div class="column-grid three-column-grid">
        <div class="text-box">
            <h3>Why street food?</h3>
            <p class="body-text">
                Street food is a great way to experience Vietnamese culture and cuisine!
                It is often safer and cheaper than eating at a restaurant.
            </p>
        </div>

        <div class="text-box">
            <h3>Menus</h3>
            <p class="body-text">
                Most stands have one or two specialties and offer a few variations
                of those dishes rather than offering an extensive menu. Scroll down to
                see information about Vietnamese dishes!
            </p>
        </div>
        <div class="text-box">
            <h3>Pricing</h3>
            <ul class="body-text" style="text-align: left">
                <li> Street vendors usually only take cash.</li>
                <li>1 US dollar = ~23,000 Vietnamese dong (VND)</li>
                <li>Street food meals are usually less than $5 and can be less than $1.</li>
            </ul>
        </div>
    </div>

    <h5 class="text-center" style="margin-top: 30px;">
        For more info on how to order, check out this helpful
        <a style="color:tomato; text-decoration:underline;" href="https://vietnam.travel/things-to-do/beginners-guide-vietnamese-street-food">guide</a>
        from Vietnam’s travel website.
    </h5>

    <!--How to Use the App-->
    <div class="color-box">
        <h1>How To Use the App</h1>
    </div>
    <div id="some-container">
        <div class="column-grid four-column-grid">
            <div class="text-box">
                <h1 style="color: tomato">1.</h1>
                <h3>Search</h3>
                <p class="body-text">
                    Use the search page to look for street vendors based on location, food type, or hours.
                </p>
            </div>

            <div class="text-box">
                <h1 style="color: tomato">2.</h1>
                <h3>Browse</h3>
                <p class="body-text">
                    Look through the list of results to find a place that looks good.
                </p>
            </div>
            <div class="text-box">
                <h1 style="color: tomato">3.</h1>
                <h3>Choose</h3>
                <p class="body-text">
                    Click on a vendor you're interested in to get directions and more information.
                </p>
            </div>
            <div class="text-box">
                <h1 style="color: tomato">4.</h1>
                <h3>Enjoy!</h3>
                <p class="body-text">
                    Head to the streets to try some delicious food!
                </p>
            </div>
        </div>
    </div>


    <h1 class="section-title">Street Food Dishes</h1>

    <!--Gallery of food-->
    <div class="gallery">
        <!--Banh bao-->
        <div class="card">
            <div class="front">
                <img src="~/images/banh-bao.png" alt="Banh Bao" />
                <h1>Bánh bao</h1>
            </div>
            <div class="back">
                <h1>Bánh bao</h1>
                <p>
                    A round savory bun filled with meat, eggs, and vegetables including onions and mushrooms.
                    Often include Chinese sausage and hard-boiled egg.

                </p>
                <a href="">Find bánh bao</a>
            </div>
        </div>
        <!--Bánh canh-->
        <div class="card">
            <div class="front">
                <img src="~/images/banh-canh.png" alt="Banh Canh" />
                <h1>Bánh canh</h1>
            </div>
            <div class="back">
                <h1>Bánh canh</h1>
                <p>
                    Thick tapioca noodles that can be served with a variety of broths and toppings,
                    which can include crab, fish cakes, pork, and more.

                </p>
                <a href="">Find bánh canh</a>
            </div>
        </div>
        <!--Banh Cuon-->
        <div class="card">
            <div class="front">
                <img src="~/images/banh-cuon.png" alt="Banh Cuon" />
                <h1>Bánh cuốn</h1>
            </div>
            <div class="back">
                <h1>Bánh cuốn</h1>
                <p>
                    Rice noodle rolls made from thin sheets of fermented rice that are steamed and filled with
                    pork, mushrooms, and shallots.

                </p>
                <a href="">Find bánh cuốn</a>
            </div>
        </div>
        <!--Bánh mì-->
        <div class="card">
            <div class="front">
                <img src="~/images/banh-mi.png" alt="Bánh mì" />
                <h1>Bánh mì</h1>
            </div>
            <div class="back">
                <h1>Bánh mì</h1>
                <p>
                    A sandwich made with a short baguette that often includes pork,
                    cucumber, pickled carrots, cilantro, chili, and mayonnaise, or
                    a wide variety of other ingredients and combinations.
                </p>
                <a href="">Find bánh mì</a>
            </div>
        </div>
        <!--Bánh ngọt-->
        <div class="card">
            <div class="front">
                <img src="~/images/sweet-cakes.png" alt="Bánh ngọt" />
                <h1>Bánh ngọt</h1>
            </div>
            <div class="back">
                <h1>Bánh ngọt</h1>
                <p>
                    Bánh ngọt (sweet cakes) are a type of Vietnamese dessert and come in many varieties.
                    Cakes can often include rice flour and coconut milk, and can feature flavors
                    like banana and cassava, among others.
                </p>
                <a href="">Find bánh ngọt</a>
            </div>
        </div>
        <!--Bánh tráng-->
        <div class="card">
            <div class="front">
                <img src="~/images/banh-trang.png" alt="Bánh tráng" />
                <h1>Bánh tráng</h1>
            </div>
            <div class="back">
                <h1>Bánh tráng</h1>
                <p>
                    Rice paper wrappers made from a mixture of rice flour with tapioca
                    starch, water and salt. They are thin and light in texture, and
                    often used in egg rolls and spring rolls.
                </p>
                <a href="">Find bánh tráng</a>
            </div>
        </div>
        <!--Bún-->
        <div class="card">
            <div class="front">
                <img src="~/images/bun.png" alt="Bún" />
                <h1>Bún</h1>
            </div>
            <div class="back">
                <h1>Bún</h1>
                <p>
                    These thin rice noodles, also known as rice vermicelli, can be found in soups,
                    served with meats and vegetables, or in goi cuon.

                </p>
                <a href="">Find Bún</a>
            </div>
        </div>
        <!--Cà phê-->
        <div class="card">
            <div class="front">
                <img src="~/images/ca-phe.png" alt="Cà phê" />
                <h1>Cà phê</h1>
            </div>
            <div class="back">
                <h1>Cà phê</h1>
                <p>
                    Known in English simply as Vietnamese coffee, can be served hot or iced with sweetened
                    condensed milk.
                </p>
                <a href="">Find cà phê</a>
            </div>
        </div>
        <!--Cháo-->
        <div class="card">
            <div class="front">
                <img src="~/images/chao.png" alt="Cháo" />
                <h1>Cháo</h1>
            </div>
            <div class="back">
                <h1>Cháo</h1>
                <p>
                    Vietnamese congee, or rice porridge. It can be combined with chicken, duck, or pork and broth,
                    as well as vegetables, and can also be served with youtiao (a type of fried dough).

                </p>
                <a href="">Find cháo</a>
            </div>
        </div>
        <!--Chè-->
        <div class="card">
            <div class="front">
                <img src="~/images/sweet-gruel.png" alt="Chè" />
                <h1>Chè</h1>
            </div>
            <div class="back">
                <h1>Chè</h1>
                <p>
                    Chè is a Vietnamese dessert, with textures ranging from that of a soup to a pudding.
                    Flavors vary, including fruits and chocolates, and often include coconut milk, rice, and/or tapioca.
                </p>
                <a href="">Find Chè</a>
            </div>
        </div>
        <!--Cơm tấm-->
        <div class="card">
            <div class="front">
                <img src="~/images/com-tam.png" alt="Cơm tấm" />
                <h1>Cơm tấm</h1>
            </div>
            <div class="back">
                <h1>Cơm tấm</h1>
                <p>
                    This dish is made from broken rice grains, and is quite popular in Saigon.
                    It often includes grilled pork ribs, fried egg, scallions, fresh and pickled
                    vegetables, and fish sauce.

                </p>
                <a href="">Find cơm tấm</a>
            </div>
        </div>
        <!--Cuốn-->
        <div class="card">
            <div class="front">
                <img src="~/images/goi-cuon.png" alt="Cuốn" />
                <h1>Cuốn</h1>
            </div>
            <div class="back">
                <h1>Cuốn</h1>
                <p>
                    Any Vietnamese traditional food that comes in the form of rolls, e.g. summer rolls,
                    egg rolls, or bo bia. Wrappers are commonly made from rice papers or betel leaves.
                </p>
                <a href="">Find cuốn</a>
            </div>
        </div>
        <!--Điểm sấm-->
        <div class="card">
            <div class="front">
                <img src="~/images/diem-sam.png" alt="Điểm sấm" />
                <h1>Điểm sấm</h1>
            </div>
            <div class="back">
                <h1>Điểm sấm</h1>
                <p>
                    Originally from China, these can include wontons, dumplings
                    and potstickers and other ball/bun shaped dishes eaten with or without soup.
                    Generally, they are meat balls wrapped inside flour wrappers.
                </p>
                <a href="">Find  điểm sấm</a>
            </div>
        </div>
        <!--Hủ tiếu-->
        <div class="card">
            <div class="front">
                <img src="~/images/hu-tiu-go.png" alt="Hủ tiếu" />
                <h1>Hủ tiếu</h1>
            </div>
            <div class="back">
                <h1>Hủ tiếu</h1>
                <p>
                    This noodle dish can be served with or without broth (dry)
                    and includes pork bones, herbs, and a variety of meats and
                    other ingredients.
                </p>
                <a href="">Find hủ tiếu</a>
            </div>
        </div>
        <!--Mì-->
        <div class="card">
            <div class="front">
                <img src="~/images/mi.png" alt="Mì" />
                <h1>Mì</h1>
            </div>
            <div class="back">
                <h1>Mi</h1>
                <p>
                    Noodles made out of wheat flour or egg noodles. These noodles can be thick or
                    thin, and can be served in soups or dry (without broth).
                </p>
                <a href="">Find Mì</a>
            </div>
        </div>
        <!--Miến-->
        <div class="card">
            <div class="front">
                <img src="~/images/mien.png" alt="Miến" />
                <h1>Miến</h1>
            </div>
            <div class="back">
                <h1>Miến</h1>
                <p>
                    Also known as cellophane or glass noodles, these help make up Vietnamese
                    dishes like miến ga, a chicken soup. Often confused with bún, or rice
                    vermicelli, glass noodles can be distinguished by their clear glass-like
                    appearance when cooked.

                </p>
                <a href="">Find miến</a>
            </div>
        </div>
        <!--Nui-->
        <div class="card">
            <div class="front">
                <img src="~/images/nui.png" alt="Nui" />
                <h1>Nui</h1>
            </div>
            <div class="back">
                <h1>Nui</h1>
                <p>
                    These noodles are Vietnamese macaroni, and are often included in
                    Vietnamese chicken and noodle soups.
                </p>
                <a href="">Find nui</a>
            </div>
        </div>
        <!--Nước đóng chai-->
        <div class="card">
            <div class="front">
                <img src="~/images/nuoc-dong-chai.png" alt="Nước đóng chai" />
                <h1>Nước đóng chai</h1>
            </div>
            <div class="back">
                <h1>Nước đóng chai</h1>
                <p>
                    Refers to bottled water. Can be carbonated or still.
                </p>
                <a href="">Find nước đóng chai</a>
            </div>
        </div>
        <!--Pancakes-->
        <div class="card">
            <div class="front">
                <img src="~/images/pancake.png" alt="Pancakes" />
                <h1>Pancakes</h1>
            </div>
            <div class="back">
                <h1>Pancakes</h1>
                <p>
                    These crispy, savory pancakes are made of rice flour, water, and turmeric, fried in a pan and
                    filled with ingredients like pork, prawns, green onion, mung bean, and herbs.
                </p>
                <a href="">Find pancakes</a>
            </div>
        </div>
        <!--Phở-->
        <div class="card">
            <div class="front">
                <img src="~/images/pho.png" alt="Phở" />
                <h1>Phở</h1>
            </div>
            <div class="back">
                <h1>Phở</h1>
                <p>
                    A soup with rice noodles, herbs, and meat. Phở in Saigon tends to
                    have a clearer broth, and can include bean sprouts, fresh sliced
                    chili, hoisin sauce, and additional herbs. Phở is considered to be
                    Vietnam's national dish.

                </p>
                <a href="">Find pho</a>
            </div>
        </div>
        <!--Súp-->
        <div class="card">
            <div class="front">
                <img src="~/images/sup.png" alt="Súp" />
                <h1>Súp</h1>
            </div>
            <div class="back">
                <h1>Súp</h1>
                <p>
                    A type of thick, chunky soup made from flavored soup base, egg and tapioca starch.
                    Other typical ingredients include quail eggs, crab meat, pig brain, mushrooms and vegetables.
                    In English, known as egg drop soup.
                </p>
                <a href="">Find súp</a>
            </div>
        </div>
        <!--Trà sữa-->
        <div class="card">
            <div class="front">
                <img src="~/images/tra-sua.png" alt="trà sữa" />
                <h1>Trà sữa</h1>
            </div>
            <div class="back">
                <h1>Trà sữa</h1>
                <p>
                    Also known as boba tea in English, this drink consists of sweetened tea and milk or
                    fruit juice with tapioca pearls, or boba.
                </p>
                <a href="">Find trà sữa</a>
            </div>
        </div>
        <!--Trứng-->
        <div class="card">
            <div class="front">
                <img src="~/images/eggs.png" alt="Trứng" />
                <h1>Trứng</h1>
            </div>
            <div class="back">
                <h1>Trứng</h1>
                <p>
                    Eggs (usually from a quail, a duck or a chicken), often boiled and fertilized, or soft-boiled.
                </p>
                <a href="">Find trứng</a>
            </div>
        </div>
        <!--Xiên que-->
        <div class="card">
            <div class="front">
                <img src="~/images/skewers.png" alt="Skewers" />
                <h1>Xiên que</h1>
            </div>
            <div class="back">
                <h1>Xiên que</h1>
                <p>
                    Skewered food in Vietnam can include fried fish balls, grilled corn, grilled sausage, and more.

                </p>
                <a href="">Find xiên que</a>
            </div>
        </div>
    </div>
</div>

<script>// Add links from handbook to search page that allows users to
    // conveniently search for street vendors of a specific food categoties.
    const findCategory = document.querySelectorAll(".back > a");
    findCategory.forEach(a => {
        const category = a.innerHTML.substring(5);
        a.href = `Search?SearchValue=${category}`;
    });</script>