@{
    ViewData["Title"] = "Home";
}

<div class="home-page">
    <div class="hero-section">
        <img src="~/images/hero-img.jpg" alt="">
        <div class="text">
            <h1>Saigon Street Foods.<br/>All in one.</h1>
            <partial name="~/Views/Partial/_SearchInput.cshtml"/>
            <p>Don't know where to start? <a class="underline" asp-area="" asp-controller="Handbook" asp-action="Index">We got you!</a></p>
        </div>
    </div>
    <section class="home">
        bla bla bla 1
    </section>
    <section class="home">
        bla bla bla 2
    </section>
</div>
