@{
    ViewData["Title"] = "Home";
}

<div class="homepage-layout">
    <div class="hero-section">
        <img src="~/images/hero-img.jpg" alt="">
        <div class="text">
            <h1>Saigon Street Foods.<br/>All in one.</h1>
            <form class="search-container" asp-area="" asp-controller="Search" asp-action="Index" method="GET">
                <input type="search" name="SearchValue" value="@ViewBag.SearchValue" placeholder="Enter a street vendor, a dish, or a place">
                <button type="submit" class="search-btn">
                    <img src="~/images/search.png" alt="">
                </button>
            </form>
            <p style="font-size:larger">Don't know where to start? <a class="underline" asp-area="" asp-controller="Handbook" asp-action="Index">We got you!</a></p>
        </div>
    </div>
    <section class="home">
        
    </section>
    <section class="home">
        
    </section>
</div>
