@{
    ViewData["Title"] = "Home";
}

<div class="home-page">
    <div class="hero-section">
        <img src="~/images/hero-img.jpg" alt="">
        <div class="text">
            <h1>Saigon Street Foods.<br/>All in one.</h1>
            <form class="search-container">
                <input type="search" class="search-input" placeholder="Enter a street vendor, a dish, or a place . . .">
                <button type="submit" class="search-btn">
                    <img src="~/images/search.png" alt="">
                </button>
            </form>
            <p>Don't know where to start? <a class="underline" asp-area="" asp-controller="Home" asp-action="About">We got you!</a></p>
        </div>
    </div>
    <section class="home">
        bla bla bla 1
    </section>
    <section class="home">
        bla bla bla 2
    </section>
</div>
