@*
    Home/default page when users first access Street Foody.
    Serves as a gateway to all pages and features in the app.
    Responsive on all devices.
*@

@{
    ViewData["Title"] = "Home";
}

<div class="homepage-layout">
    <div class="hero-section">
        <img src="~/images/hero-img.jpg" alt="">
        <div class="text">
            <h1>Saigon Street Foods.<br />All in one.</h1>
            <form class="search-container" asp-area="" asp-controller="Search" asp-action="Index" method="GET">
                <input type="search" name="SearchValue" value="@ViewBag.SearchValue" placeholder="Enter a street vendor, a dish, or a place">
                <button type="submit" class="search-btn">
                    <img src="~/images/search.png" alt="">
                </button>
            </form>
            <p>Don't know where to start? <a class="underline" asp-area="" asp-controller="Handbook" asp-action="Index">We got you!</a></p>
        </div>
    </div>
    
</div>
<div class="about-section text-center">
    <img src="~/images/logo.png" alt="Street Foody logo" style="margin-top: 3rem;" />
    <h1>About Street Foody</h1>
    <p>
        Street Foody was created to make it easier to find good street food in Saigon. Eating street food is a great
        way to explore Vietnamese culture and cuisine, but it can be difficult to get information about street vendors
        online, especially for those who don't speak Vietnamese. With Street Foody, travelers can easily find
        vendors so that they can spend more time eating!
    </p>
    <div class="list-container">
        <h5>With Street Foody, you can:</h5>
        <ul>
            <li>Easily find good food using our <a asp-area="" asp-controller="Search" asp-action="Index">search tools</a></li>
            <li>Learn more about types of dishes with our <a asp-area="" asp-controller="Handbook" asp-action="Index">handbook</a></li>
        </ul>
    </div>
</div>
<div class="homepage-layout">
    <h5>Know a great street vendor?</h5>
    <a id="sign-up" href="https://forms.gle/PU1baBndNHAus6qt7">
        Help us expand the Street Foody database!
    </a>
</div>