@{
    ViewData["Title"] = "VendorProfile";
}
<head>
    <meta content="width=device-width, initial-scale=1.0">
<style>
    .vendor-text{
        color:white;
        background:tomato;
    }

    .contact-info{
        color:#fff;
        background:tomato;
    }

    h1{
        font-family: "Satisfy", cursive;
    }

    #VendorName{
        display:flex;
        align-items: center;
    }

    #VendorName .vendor-about{
        padding: 20px;
    } 

    #VendorName .vendor-pic{
        width:100px;
        height:100px;
        background:url("~/Great-Aunty-Three.png");
        background-size:cover;
        background-position:50% 50%;
        margin:8px;
        border:4px solid #fff;
        border-radius:50%;
        box-shadow:inset -4px -4px 16px rgba(0,0,0,0.5);
    }

    h1{
         margin:0;
    }

    

</style>
</head>
<body>
    <div id="VendorName" class="vendor-text">
        <div class="vendor-pic"></div>
            <div id = "Image1">
                <img src="~/Great-Aunty-Three.png" alt = "Image1" style="width:50%;height:50%;border:0;">
	            <br></br>
            </div>
        <div class="vendor-about">
            <h1>Vendor Name</h1>
            Short description of the vendor: bla bla bla bla bla bla bla 
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla. 
        </div>
    </div>
    <div id="contacts" 
    class="contact-info">
    <a>000-000-0000</a>
    <a>1234 vibes st, HCMC</a>
    </div>
</body>