<nav>
    <div class="wrapper" >
        <div id="brand" >
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Street Foody</a>
        </div>
        <ul id="sign-in-up-links">
            <li class="nav-item">
<<<<<<< HEAD
                <a asp-area="" asp-controller="Vendor" asp-action="Index" style="font-size: 1.2rem; font-weight: bold;">Sign in</a>
=======
                <a asp-area="" asp-controller="Search" asp-action="Index" style="font-size: 1.35rem; ">Search</a>
>>>>>>> cf7ea93cf7e0a4205af69ff1abedd804ab9b1546
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Handbook" asp-action="Index" style="font-size: 1.35rem; ">Handbook</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Search" asp-action="Vendor" style="font-size: 1.35rem; ">Vendor</a>
            </li>
        </ul>
    </div>
</nav>