<nav style="background: #ff6347; position: sticky;">
    <div class="wrapper">
        <div id="brand" >
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Street Foody</a>
        </div>
        <div style="display: flex; align-items:center; height: 100%; flex-grow: 1; justify-self: center;">
            <partial name="~/Views/Partial/_SearchInput.cshtml"/>
        </div>
        <ul id="nav-links">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Handbook" asp-action="Index">Handbook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Search" asp-action="Vendor">Vendor</a>
            </li>
            <li class="nav-item">
                <a id="profile" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="UserProfile">
                    <img src="~/images/user.png" alt="" class="btn-icon">
                    <img src="~/images/caret-down.png" alt="" class="btn-secondary-icon">
                </a>
            </li>
        </ul>
        <div class="burger-container">
            <div id="burger">
                <div id="line1"></div>
                <div id="line3"></div>
            </div>
        </div>
    </div>
</nav>