/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* DOCUMENT STYLING
-------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  max-width: 100%;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
}

h1,
h2 {
  font-family: "Satisfy", cursive;
}

footer {
  height: 10rem;
  background: rgb(255, 93, 65);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 426px) {
  html,
  form {
    font-size: 11px;
  }
  nav {
    height: 65px;
  }

  .page {
    padding: 65px 0;
  }
}
@media only screen and (min-width: 426px) {
  html,
  form {
    font-size: 13px;
  }
  nav {
    height: 70px;
  }

  .page {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 768px) {
  html,
  form {
    font-size: 15px;
  }
  nav {
    height: 75px;
  }

  .page {
    padding: 75px 0;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 17px;
    width: 100vw;
  }
  nav {
    height: 80px;
  }

  .page {
    padding: 80px 0;
  }
}

/* COMMON ELEMENTS (a, button, select)
-------------------------------------------------- */

a {
  text-decoration: none;
}

a:visited {
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
}
a:active {
  color: white;
} /* Selected link   */

button.small-btn,
select {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 50px;
  border: 2px solid #ff6347;
}

button:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  padding-right: 3rem;
}

.select {
  border: 2px solid #ff6347;
  position: relative;
  border-radius: 50px;
}

.select:hover {
  border-color: #ffdf37;
}

.select:after {
  content: "\25BC";
  pointer-events: none;
  position: absolute;
  top: 0.6rem;
  right: 1rem;
}

/* NAVBAR PARTIALS
-------------------------------------------------- */

nav {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  transition: 0.5s;
  top: 0;
}

nav#search-nav-bar {
  background: #ff6347;
}

.nav-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#brand,
#logo-brand {
  min-width: fit-content;
  height: 100%;
  width: 20%;
  white-space: normal;
  word-break: keep-all;
  text-decoration: none;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  align-items: center;
}

#logo-brand > a:first-child {
  height: 100%;
  width: 2rem;
  display: none;
  align-items: center;
}

img#logo {
  max-height: 60%;
  align-self: center;
  object-fit: contain;
}

#burger {
  width: 0;
}

#nav-links,
#sign-in-up-links {
  width: 40%;
  min-width: fit-content;
  height: 100%;
  margin-top: auto;
  color: white;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

#sign-in-up-links {
  width: 25%;
}

#sign-in-up-links > li {
  padding: 0 1rem;
}

li.nav-item {
  height: 100%;
  font-size: 1.2rem;
  flex: 1 1 1;
  text-align: center;
  word-break: keep-all;
  display: flex;
  align-items: center;
}

li.nav-item > a {
  color: white;
}

a#profile {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  max-height: 1.8rem;
  object-fit: contain;
}

.btn-secondary-icon {
  object-fit: contain;
  max-height: 1.5rem;
}

a#sign-up {
  background: #ff6347;
  border-radius: 10px;
  text-align: center;
  padding: 0.8rem 1.5rem;
  color: white;
  font-size: 1.2rem;
  word-break: keep-all;
}

/* FORM INPUT
-------------------------------------------------- */

form.search-container {
  height: 2.2rem;
  max-height: 2.2rem;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 50px;
  position: relative;
  box-shadow: inset -3px 3px 10px rgb(51, 51, 51);
  font-size: 1rem;
}

.nav-search-container {
  margin: 0 2.5%;
}

input[type="search"] {
  border-radius: 50px;
  border: none;
  width: 100%;
  padding: 1em 1.5em;
  font-size: 1rem;
}

input:focus {
  outline: none;
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button.search-btn {
  max-height: 100%;
  width: 1.2rem;
  border: none;
  position: absolute;
  right: 1.5rem;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.search-btn > img {
  max-height: 1.2rem;
  flex: 1;
  object-fit: scale-down;
}

/* HERO SECTION 
---------------------------------------------------- */

div.hero-section {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

div.hero-section img {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  top: 0;
  object-fit: cover;
}

div.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
}

div.text h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
}

div.text p {
  padding-top: 1.1rem;
  font-size: 1.2rem;
}

a.underline {
  color: white;
  text-decoration: underline;
}

a.underline:hover {
  color: #ff3e03;
}

/* OTHER HOME SECTIONS 
-------------------------------------------------- */

section.home {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* HANDBOOK
-------------------------------------------------- */

.homepage-layout,
.text-box,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p#subtitle {
  font-size: 1.5rem;
}

h1.section-title {
  font-size: 3rem;
  color: #ff6347;
  margin: 4rem 2rem 1rem;
  text-align: center;
}

div.column-grid {
  width: 80%;
  height: min-content;
  justify-content: space-between;
  align-self: center;
  display: grid;
  grid-auto-columns: max-content;
  column-gap: 5rem;
}

div.three-column-grid {
  grid-template-columns: repeat(3, minmax(10rem, 350px));
}

div.four-column-grid {
  grid-template-columns: repeat(4, minmax(7rem, 350px));
}

#some-container {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

div.text-box {
  top: 0;
  text-align: center;
  height: min-content;
  vertical-align: text-top;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

div.emphasis > h1 {
  font-family: "Satisfy", cursive;
  color: white;
  padding: 20px;
  bottom: 0px;
}

div.gallery h1 {
  font-family: "Quicksand", sans-serif;
}

.body-text {
  color: dimgray;
  font-size: 1.1rem;
  text-align: center;
}

div.color-box {
  background-color: #ff6347;
  padding: 2rem;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 4rem;
}

/* Cards
-------------------------------------------------- */

div.gallery {
  width: 80%;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

.card {
  top: 0;
  left: 0;
  border-style: hidden;
  width: 100%;
  max-height: 40rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  top: 0;
  border-radius: 10px;
}

.card .front {
  background-color: #ff6347;
  width: inherit;
  border-radius: 10px;
}

.card h1 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding: 2rem 1rem 1rem;
}

.card > .back {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  background-color: #ff6347;
  transition: 0.5s ease-out;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.1rem;
}

.card:hover .back {
  height: 100%;
}

.back a {
  font-weight: 600;
  background: white;
  padding: 1rem 2rem;
  color: #ff6347;
  margin: 1rem 0;
  border-radius: 10px;
}

.back a:hover {
  background: #ffdf37;
}

/* ALERT MESSAGE
-------------------------------------------------- */

#alert {
  position: relative;
  width: 100%;
  max-height: fit-content;
  margin-top: 0.5rem;
  background: #ffdf37;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  padding: 1rem 2rem;
}

#close-btn {
  position: absolute;
  top: 0.4rem;
  right: 2rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

#close-btn:hover {
  color: black;
}

/* FILTERS AND CHECKBOXES 
-------------------------------------------------- */

form.filter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 3px 3px -3px #ccc;
}

.filter-list > div {
  min-height: 1.8rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + *:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

input[type="checkbox"]:checked + *::before {
  content: "✓";
  font-size: 0.7rem;
  color: white;
  text-align: center;
  background: #ff6347;
  border-color: #ff6347;
}

input[type="checkbox"]:checked + * {
  color: #ff6347;
}

label {
  cursor: pointer;
}

h2.filter-title {
  padding-top: 1rem;
  font-size: 1.8rem;
  margin-bottom: 0;
}

/* VENDOR CARD & SEARCH PAGE
-------------------------------------------------- */

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
  padding-left: 20%;
  padding-right: 5%;
  transition: padding 0.75s ease-in-out;
}

#wrapper.full {
  padding-left: 5%;
}

#filter-sort {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  background-color: white;
  z-index: 5;
}

#filter:hover {
  border-color: #ffdf37;
}

#filter-col {
  width: 16%;
  height: 100%;
  padding-right: 1rem;
  box-shadow: 3px 0 3px -3px #ccc;
  display: flex;
  flex-direction: column;
  left: 6%;
  margin-top: 1rem;
  transition: all 0.75s ease-in-out;
  position: absolute;
}

#filter-col.close {
  transform: translateX(-170%);
}

#result-col {
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5 ease;
}

.page {
  z-index: 1;
}

.vndr-card {
  width: 100%;
  min-height: max-content;
  padding: 2rem 0 2rem 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-areas:
    "img name name "
    "img dist next"
    "img categ next"
    "img rating next";
  grid-template-rows: 3rem 1.5rem 3.2rem 2.2rem;
  grid-template-columns: 16rem 1fr 6rem;
  column-gap: 20px;
  box-shadow: 0 3px 3px -3px #ccc;
  cursor: pointer;
}

.vndr-card > * {
  display: flex;
  font-size: 1em;
  pointer-events: none;
}

.vndr-image {
  grid-area: img;
}

.stand-name {
  grid-area: name;
}

.vndr-distance {
  grid-area: dist;
}

.vndr-categories {
  grid-area: categ;
}

/* .vndr-price {
  grid-area: price;
} */

.vndr-rating-price {
  grid-area: rating;
  min-width: 20rem;
}

.right-caret {
  grid-area: next;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
}

.right-caret > img {
  height: 6rem;
  object-fit: contain;
}

.right-caret.active {
  transform: translateX(15%);
  opacity: 1;
}

.vndr-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3.stand-name {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

h3.stand-name > sup {
  font-family: "Satisfy", cursive;
  color: #ff2700;
  font-size: 1.2em;
  margin-left: 1rem;
}

img.inline-icon {
  height: 1.2rem;
  object-fit: contain;
  margin: 0 0.3rem 0 0rem;
}

.vndr-rating-list {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* VENDOR PAGE - HEADER
-------------------------------------------------- */

.vendor-header {
  margin: 2rem 0 4rem;
  width: 75%;
  height: 16rem;
  display: flex;
  align-items: center;
  position: relative;
}

.vendor-profile-img {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
}

.vendor-profile-img > img {
  width: 100%;
  height: 100%;
  /* max-height: 100%; */
  object-fit: cover;
}

.vendor-about {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.5rem;
  height: 100%;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}

.vendor-about > p {
  font-weight: 700;
}

#headline {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  position: relative;
}

#headline > .stand-name {
  font-weight: 700;
}

#save-icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 3rem;
}

#save-icon > img {
  position: absolute;
  max-height: 3rem;
  object-fit: contain;
}

#save-icon:hover {
  transform: scale(1.03);
}

#saved {
  display: none;
}

#saved.active {
  display: inline-block;
}

.vendor-info {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.vendor-info > img {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.vendor-info > img {
  margin: 0 0.5rem;
  transform: translateY(-0.2rem);
}

#get-direction,
#call {
  height: 1.5rem;
  object-fit: contain;
  transform: translateY(-0.1rem);
  transition: all 0.5s ease;
}

#get-direction:hover,
#call:hover {
  transform: translateY(-0.1rem) translateX(0.5rem);
}

/* VENDOR PAGE - LOCATION & HOURS
-------------------------------------------------- */

h2.section-title {
  font-size: 2.2rem;
  margin-top: 4rem;
  margin-bottom: 0;
  text-align: center;
}

#vendor-hours {
  width: 35%;
  min-width: 25rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a#vendor-location {
  color: black;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

#vendor-location:hover {
  text-decoration: underline;
  transform: scale(1);
}

iframe {
  width: 55%;
  min-width: 35rem;
  min-height: 25rem;
  border: 0;
  padding-top: 2rem;
}

.day-time {
  width: 20rem;
}
a#learn-more {
  text-decoration: underline;
  color: black;
  margin-left: 1rem;
  font-style: normal;
}

h3.food-category {
  flex-basis: 80%;
  margin-top: 2rem;
  text-align: left;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.body-text {
  color: black;
  margin: 1rem 1rem 0;
  max-width: 100%;
  text-align: left;
  overflow: hidden;
}

.price {
  margin: 1rem;
  text-align: right;
  font-weight: bold;
}

/* VENDOR PAGE - MENU
-------------------------------------------------- */

.warning {
  width: 100%;
  display: inline-flex;
  font-size: 1.2rem;
  justify-content: center;
  font-style: italic;
}

hr {
  height: 2px;
  width: 80%;
  align-self: center;
  background-color: tomato;
}

/* MEDIA QUERIES
-------------------------------------------------- */

/* Laptop (medium) */

@media only screen and (max-width: 1024px) {
  #sign-in-up-links {
    width: 35%;
  }

  #nav-links {
    order: 2;
    position: fixed;
    background: #ff3e03;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding: 30vh 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
    z-index: 4;
    overflow-x: hidden;
    transform: translateX(100vw);
    font-size: 1rem;
  }

  #nav-links.open {
    transform: translateX(0vw);
  }

  div.burger-container {
    order: 3;
    width: 20%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 6;
  }

  div#burger {
    width: 100%;
    margin-left: auto;
    cursor: pointer;
    max-width: fit-content;
    position: fixed;
    align-self: flex-end;
  }

  #line1,
  #line3 {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    border-radius: 10px;
    background: white;
    transition: all 0.5s ease-in-out;
    font-size: 1rem;
  }

  #burger:hover {
    transform: scale(1.1);
  }

  #nav-links li {
    opacity: 1;
  }

  #nav-links li a {
    font-size: 25px;
  }

  .search-container {
    flex-basis: 50%;
  }

  #filter-col {
    transform: translateX(-300%);
  }

  #filter-col.close {
    transform: translateX(0);
  }

  #wrapper {
    padding-left: 3%;
  }

  #wrapper.full {
    padding-left: 20%;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  nav {
    height: 60px;
  }

  #sign-in-up-links {
    width: 35%;
  }

  form.search-container {
    min-width: 180px;
    max-width: 400px;
    flex-grow: 1;
  }

  #logo-brand > a:first-child {
    display: flex;
  }

  #logo-brand > a:nth-child(2) {
    display: none;
  }

  nav#search-nav-bar {
    background: white;
    box-shadow: 0px 3px 3px -3px #ccc;
  }

  input#nav-search-input {
    border: 2px solid #ff6347;
  }

  #line1,
  #line3 {
    background: #ff6347;
  }

  div.column-grid {
    display: grid;
    max-width: 75%;
    grid-template-columns: 1fr;
    column-gap: 0;
    align-items: center;
    row-gap: 1rem;
  }

  div.three-column-grid {
    grid-template-rows: repeat(3, minmax(2rem, 10rem));
  }

  div.four-column-grid {
    grid-template-rows: repeat(4, minmax(2rem, 10rem));
  }

  .right-caret {
    display: none;
  }

  .vndr-card {
    padding: 1rem 0 1rem 1rem;
    grid-template-areas:
      "img name"
      "img dist"
      "img categ"
      "img rating";
    grid-template-rows: 3.6rem 1.5rem 3.2rem 2.2rem;
    grid-template-columns: 13rem 1fr;
  }

  #wrapper {
    padding-left: 0%;
  }
}

@media only screen and (max-width: 600px) {
  .vndr-card {
    grid-template-columns: 10rem 1fr;
  }

  #result-col {
    padding-left: 1rem;
  }
}

/* Mobile L */

@media only screen and (max-width: 476px) {
  #sign-in-up-links {
    width: 50%;
  }

  .vndr-card {
    font-size: 0.9rem;
    padding: 1rem 0.5rem;
  }
}

/* Mobile M */

@media only screen and (max-width: 376px) {
  iframe {
    min-width: 350px;
  }

  .vndr-card {
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 2.8rem 1.5rem 2.8rem 2rem;
    font-size: 0.8rem;
    padding: 1rem 0;
  }
}

/* Mobile S */

@media only screen and (max-width: 325px) {
  div.burger-container {
    margin-right: 0px;
  }
}
